* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
    font-family: ITC Avant Garde Gothic, sans-serif;
}

html {
  color: #fff;
  background-color: #000;
}

header {
    text-align: center;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: #000;
}

header img {
    margin: 10px 0;
    height: 5rem;
    width: 70%;
}

header #navbar {
    height: 1rem;
}

nav {
  display: flex;
    margin: auto;
    width: 320px;
    padding-bottom: 10px;
}

nav div {
    flex-grow: 1;
    text-decoration: none;
}

nav div a {
  text-decoration: none;
  color: #fff;
}

main {
    margin-top: 1rem;
    position: relative;
    width:100%;
}

#title-about {
    background-image: url('../images/cover-3.jpg');
}

#title-ndd {
    background-image: url('../images/texture.jpg');
    background-position: center;
}

#title {
  background-image: url('../images/banner.jpg');
  background-position: center;
}

#about {
    background-color: #000;
}

#sec2 {
    background-image: url('../images/Robot-Skeleton-thinking-coloured.jpg');
    background-position: center;
}

#sec3 {
  background-image: url('../images/banff-cover.jpg');
  background-position: center;
}

#sec4 {
  background-image: url('../images/sunrise-cover.jpg');
  background-position: center;
}

.parallax,
.content-home {
    width: 100%;
    text-align: center;
}

.parallax {
    padding-top: calc((20rem - 5rem) / 2); /*min height - header size / 2*/
    /*background-attachment: fixed; THIS AFFECTS MOBILE PARALLAX*/
    background-size: cover;
    min-height: 20rem;
}

.parallax h1 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.parallax h2 {
    color: #fff;
}

.content-home {
    padding: 2rem 0;
}

.content h1 {
    text-transform: uppercase;
}

.col-3 > img, .col-3 > div {
  width: 80%;
  margin: 1rem auto;
  display: block;
}

.col-3 div img {
  width: 100%;
  height: 100%;
}

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.25s ease-in-out;
}

.overlay:hover {
  opacity: 1;
  background-color: rgba(208, 33, 44, 0.75);
  transition: 0.25s ease-in-out;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-me {
  padding: 0rem 1.5;
}

.about {
  height: 100%;
  width: 100%;
  padding-top: .5rem;
}

.picture {
  height: 100%;
  width: 100%;
}

footer {
  text-align: center;
}

nav div a:hover {
  border-radius: 5px;
  border-color: #d0212c
  color: #d0212c;

}

.selected a {
  color: #d0212c;
}

#behance {
  background-image: url(../images/icons/behance.svg);
}

#behance:hover {
  background-image: url(../images/icons/behance-hover.svg);
}

#email {
  background-image: url(../images/icons/email.svg);
}

#email:hover {
  background-image: url(../images/icons/email-hover.svg);
}

#instagram {
  background-image: url(../images/icons/instagram.svg);
}

#instagram:hover {
  background-image: url(../images/icons/instagram-hover.svg);
}

#twitter {
  background-image: url(../images/icons/twitter.svg);
}

#twitter:hover {
  background-image: url(../images/icons/twitter-hover.svg);
}

a {
  text-decoration: none;
  border: 0;
}

.social-media-icons div {
    height: 30px;
    width: 30px;
    margin: 0 20px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.about-project {
  padding: 2rem 1.5rem;
}

.project-images {
  align-items: center;
  display: inline-block;
  width: 50%;
}

.about-content {
  margin: 0% 7.5%;
  padding: 1.5rem 0;
}

.album {
  width: 80%;
  padding-left: 0 1rem;
  margin:2rem auto;
  display: flex;
}

@media (min-width: 500px) {
  .col-3 {
    width: 100%;
    padding: 0 1rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

nav {
  font-size: 130%;
}

h1 {
  padding-top: 1rem;
}

.parallax {
    padding-top: calc((28rem - 3rem) / 2); /*min height - header size / 2*/
    background-attachment: fixed;
    background-size: cover;
    min-height: 28rem;
}

.col-3 > img, .col-3 > div {
    margin: 0 auto;
    width:calc((100% / 3) - 2rem);
    max-width: 350px;
    max-height: 350px;
}

.about-me-container {
  padding: 0;
}

.about-me {
  display: inline-block;
  width: 100%;
  padding: 0rem 5rem;
}

.picture {
  display: inline-block;
  width: 30%;
  padding-right: 1rem;
}

.col-2 {
  width: 100%;
  padding:0 1rem;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
}

.col-2 img {
    margin: 0 auto;
    width:calc((100% / 2.5) - 2rem);
    max-height: 300px;
}

.col-2 div {
  margin: 0 auto;
  width:calc((100% / 1.5) - 2rem);
}

.social-media-icons div {
    height: 50px;
    width: 50px;
    margin: 0 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.about-content {
  margin: 0% 5%;
  font-size: 120%;
  line-height: 1.2;
}

nav {
  width: 100%;
}
